<?xml version="1.0"?>
<launch>
    <!-- Launch Rviz -->
    <include file="$(find f1tenth_gym_ros)/launch/gym_bridge_host.launch"/>

    <!-- Launch wall following algo -->
    <node pkg="f1tenth_controller_example" type="wall_following_agent_node.py" name="wall_following_agent" output="screen"/>

</launch>
